*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 600px;
    background: url(index1.webp) center/cover no-repeat;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 20px;
}

.about {

    text-align: left;
    padding: 20px 30px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.about h2.us {
    color: #fffb00;
    font-size: 28px;
    margin-bottom: 15px;
}

.about h4.multi {
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
}
.wrap{
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 30px 40px;
    border: 2px solid #fff;
    backdrop-filter: blur(16px);
}

.wrap h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box{
    position: relative;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 40px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.input-box i{
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{ 
    text-decoration: underline; 
    color: blue; 
}
.btn{
    width: 100%;
    padding: 12px;
    border-radius: 40px;
    border: none;
    background: #fff;
    color: blueviolet;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.wrap .register-link{
    font-size: 14.5px; 
    text-align: center;
    margin-top: 25px; 
    margin-bottom: 20px; 
}
.register-link p a{ 
    color: rgb(248, 244, 246); 
    text-decoration: none; 
    font-weight: 600; 
}

.register-link{
    text-align: center;
    margin-top: 20px;
}
.register-link p a:hover{ 
    text-decoration: underline;
     color: blue; 
}

footer{
    text-align: center;
    padding: 10px;
    background: #2d64d3;
    color: #fff;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    .wrap {
        padding: 20px;
    }
    .about {
        padding: 15px;
        font-size: 16px;
    }
}
