*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #fdfdfc;
}
.nav{
    text-align: center;
    padding: 20px 0;
    background: #2d64d3;
}
.h1{
    color: white;
    font-size: 32px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.p{
    color: rgb(217, 242, 255);
    font-size: 25px;
}
nav{
    padding: 20px 40px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #e63030;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links ul li a:hover{
    color: #fc9b1c;
}
.section{
    padding: 40px 10%;
    color: #000000;
    text-align: justify;
}
.section h2{
    color: #2d64d3;
    font-size: 30px;
    margin-bottom: 15px;
}
.section p{
    margin-bottom: 15px;
    line-height: 1.7;
    font-size: 25px;
    
}
.nav-links ul i{
    font-size: 41px;
}
.image{
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 20px;
    border-radius: 12px;
}
.quote{
    font-style: italic;
    padding: 1rem 1.5rem;
    background: #eef3ff;
    border-left: 5px solid #6fb1fc;
    border-radius: 8px;
    margin: 20px 0;font-size: 18px;

}
footer{
    text-align: center;
    padding: 10px;
    background: #2d64d3;
    color: white;
    margin-top: 0;
}
@media (max-width: 480px){
    .h1{ font-size: 22px; }
    .p{ font-size: 14px; }
    .section{ padding: 25px; }
}
